<div class="password-page center">
  <div class="password-page__inner">
    <h1 class="password-page__title">{{ shop.name }}</h1>
    
    {%- if shop.password_message != blank -%}
      <p class="password-page__message">{{ shop.password_message }}</p>
    {%- endif -%}

    {%- form 'storefront_password', class: 'password-form' -%}
      <div class="password-field">
        <input
          type="password"
          name="password"
          id="Password"
          class="field__input"
          autocomplete="current-password"
          {% if form.errors %}
            aria-invalid="true"
            aria-describedby="PasswordLoginForm-password-error"
          {%- endif -%}
          placeholder="Enter store password"
        >
        <button name="commit" class="button">Enter</button>
      </div>
      {%- if form.errors -%}
        <div id="PasswordLoginForm-password-error" role="status">
          <span class="form__message">{{ 'general.password_page.login_form_error' | t }}</span>
        </div>
      {%- endif -%}
    {%- endform -%}
    <p class="password-page__admin-login">Are you the store owner? <a href="/admin">Log in here</a></p>
  </div>
</div>

{% schema %}
{
  "name": "Password Page",
  "settings": []
}
{% endschema %}
