<div class="customer login page-width center">
  <div class="customer__inner">
    <h1 id="login" tabindex="-1">Log in</h1>
    {%- form 'customer_login', novalidate: 'novalidate' -%}
      {%- if form.errors -%}
        <div class="form__message" tabindex="-1" autofocus>
          <span class="visually-hidden">Error </span>
          {{ form.errors | default_errors }}
        </div>
      {%- endif -%}

      <div class="field">
        <input type="email" name="customer[email]" id="CustomerEmail" autocomplete="email" autocorrect="off" autocapitalize="off" placeholder="Email" required>
      </div>

      {%- if form.password_needed -%}
        <div class="field">
          <input type="password" value="" name="customer[password]" id="CustomerPassword" autocomplete="current-password" placeholder="Password" required>
        </div>
        <a href="#recover">Forgot your password?</a>
      {%- endif -%}

      <button class="button">Sign in</button>
      <a href="{{ routes.account_register_url }}">Create account</a>
    {%- endform -%}
  </div>
</div>

{% schema %}
{
  "name": "Login",
  "settings": []
}
{% endschema %}
